<footer class="footer">
    <div class="footer-1">
        <div class="about">
            <h4 class="footer_title">About JHK Todo List</h4>
            <p class="footer_content">
                This is a simple site for managing your schedule. You can add, modify, or delete your work here, so you can see what to do.
            </p>
        </div>
        <div class="github">
            <h4 class="footer_title">Github Link</h4>
            <p class="footer_content">
                <a href="https://www.github.com/ehpior/">Visit Github</a>
            </p>
        </div>
        <div class="contact">
            <h4 class="footer_title">Developer Contact</h4>
            <p class="footer_content">
                E-mail<i class="glyphicon glyphicon-envelope"></i>
                 / Instagram / Facebook
            </p>
        </div>
    </div>
    <div class="footer-2">
        <center style='padding-bottom:20px'>© 2019 By Jeong Hyun Ki for Grepp Inc.</center>
    </div>
</footer>