<footer class="footer">
    <div class="footer_1"><center>
        <div class="about">
            <h4 class="footer_title">About JHK_Todo</h4>
            <div class="footer_content">
            <p>
                This is a simple site for managing your schedule. You can add, modify, or delete your work here, so you can see what to do.
            </p>
            </div>
        </div>
        <div class="github">
            <h4 class="footer_title">Github Link</h4>
            <div class="footer_content">
            <p>
                <a href="https://www.github.com/ehpior/jhk_todo" target="_blank">Visit Github</a>
            </p>
            </div>
        </div>
        <div class="contact">
            <h4 class="footer_title">Developer Contact</h4>
            <div class="footer_content">
            <p>
                <a href="mailto:gusrl0101@naver.com" target="_blank"><i class="fa fa-envelope-o"></i> E-mail</a>
            </p>
            </div>
        </div></center>
    </div>
    <div class="footer_2">
        <center>© 2019, Jeong Hyun Ki</center>
    </div>
</footer>