<!DOCTYPE html>
<html>
    <head>
        <title>
            JHK_Todo_App
        </title>
    </head>

    <body>
        <a href="/todo/create/">Create?</a><br>
        {% if todo_not %}
            <ul> 
                {% for todo in todo_not %}
                    <li><a href="/todo/{{ todo.id }}">{{ todo }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
        {% if todo_fin %}
            <ul> 
                {% for todo in todo_fin %}
                    <li><a href="/todo/{{ todo.id }}">{{ todo }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
